#
# Team: Team 47
# City: Melbourne
# Xiaoyu Wu (1218098)    
# Yifei Yang (1136477)
# Rui Chen (1100500)
# Wenhai Huo (1101297)
# Jingyuan Ma (988014)
# Xiaoyu Wu (1218098)
#

[vendor]
name = The Apache Software Foundation

[chttpd]
bind_address = 0.0.0.0

[couchdb]
uuid = 
os_process_timeout = 5000
max_dbs_open = 500

[log]
writer = file
file = /opt/couchdb/log/couch.log